## Heading

In [ ]:
# Diplom_GB_Buglakova 
# Веб-приложение сервиса подбора заведения для посещения по музыкальной тематике
## 1 Описание дипломной работы

In [18]:
Веб-приложение сервиса подбора заведения для посещения по музыкальной тематике позволит (рабочее название "Где в пятницу"):
* выбрать заведение в своем городе с учетом музыкальных предпочтений по музыкальному направлению, формату воспроизведения музыки и наличию танцпола,
* определить что в необходимую дату и где будет представлено в заведениях города.

SyntaxError: invalid syntax (1359804923.py, line 4)

In [19]:
a=2
2/0
b=3 
a + b

ZeroDivisionError: division by zero

In [ ]:
?pow

## Таблицы

<table>
    <tr>
        <td>first column</td>
        <td>second column</td>
    </tr>
    <tr>
        <td>1 column</td>
        <td>2 column</td>
    </tr>
</table>

## Словари

In [2]:
clint_data = {'name':'John',
             'surname': 'Doe',
             'age': 32}
clint_data

{'name': 'John', 'surname': 'Doe', 'age': 32}

In [3]:
clint_data ['name']

'John'

In [6]:
clint_data.get('key')

In [9]:
clint_data.keys()

dict_keys(['name', 'surname', 'age'])

In [11]:
clint_data.values()

dict_values(['John', 'Doe', 32])

In [12]:
clint_data.items()
# выдает список кортежей

dict_items([('name', 'John'), ('surname', 'Doe'), ('age', 32)])

In [15]:
for k, v in clint_data.items():
    print(f'{k}: {v}')

name: John
surname: Doe
age: 32

In [18]:
clint_data['height'] = 186
clint_data

{'name': 'John', 'surname': 'Doe', 'age': 32, 'height': 186}

In [19]:
clint_data['age'] = 86
clint_data
# опасный метод, значение по такому ключу уже было

{'name': 'John', 'surname': 'Doe', 'age': 86, 'height': 186}

In [23]:
clint_data.setdefault('age', 6)
clint_data
# безопасный метод

{'name': 'John', 'surname': 'Doe', 'age': 86, 'height': 186}

In [43]:
clint_data.update({
        'age': 6,
        'sex': 'm'
})
clint_data
#опасный метод, значение по такому ключу уже было перезапись

{'name': 'John', 'surname': 'Doe', 'age': 6, 'height': 186, 'sex': 'm'}

In [37]:
?update

Object `update` not found.

In [44]:
help(clint_data.update)

Help on built-in function update:

update(...) method of builtins.dict instance
    D.update([E, ]**F) -> None.  Update D from dict/iterable E and F.
    If E is present and has a .keys() method, then does:  for k in E: D[k] = E[k]
    If E is present and lacks a .keys() method, then does:  for k, v in E: D[k] = v
    In either case, this is followed by: for k in F:  D[k] = F[k]

### вложенный словарь

In [51]:
clint_data.update({'name': 'John', 'surname': 'Doe', 'age': 6, 'height': 186, 'sex': 'm', 
                  'body': {
                  'weight': 80,
                  'height':188}})
clint_data

{'name': 'John',
 'surname': 'Doe',
 'age': 6,
 'height': 186,
 'sex': 'm',
 'body': {'weight': 80, 'height': 188}}

In [52]:
clint_data['body']['weight']

80

### Модуль RANDOM

In [65]:
import random
random.randint(0,10)

2

In [69]:
# для фиксации рандомного значения
random.seed(9)
random.randint(0,10)

7

In [74]:
# случайное значение из нормального распределения
random.random()

0.33832551168488023

In [77]:
# случайное значение из равномерного распределения
random.uniform(0,10)

3.3402400876783176

In [79]:
# вернуть несколько случайных элементов из списка
a = ['black', 'red', 'white', 'yellow', 'green', 'magenta']
random.sample(a,4)

['green', 'black', 'yellow', 'magenta']

In [88]:
# перемешивание списка случайным образом
random.shuffle(a)
a

['yellow', 'white', 'red', 'black', 'green', 'magenta']

In [83]:
# один случайн элемент
random.choice(a)

'red'

### Функции

In [89]:
def summ(a, b):
    print(f'a is {a}')
    print(f'b is {b}')
    return(a+b)

In [90]:
summ(5,0)

a is 5
b is 0

5

In [92]:
summ(b=100, a=4)

a is 4
b is 100

104

In [94]:
def say_hi(greeting='Hello', name = 'World'):
    return f'{greeting}, {name}'

In [95]:
say_hi()

'Hello, World'

In [97]:
say_hi('hi','baby')

'hi, baby'

In [99]:
def say_hi(name, greeting='Hello'):
    return f'{greeting}, {name}'
# обязательный аргумент должен быть в начале, на второй позиции выдает ошибку

In [102]:
say_hi('kitty')

'Hello, kitty'

In [105]:
say_hi(name='goat', greeting='hell')

'hell, goat'

### Аргументы *args

In [111]:
def calc_sum(*args):
    print(args)
    print(type(args))
    return sum(args)
calc_sum(8,99,2,66, 0,2,7)
# позволяет использовать функцию для любого кол-ва аргументов!

(8, 99, 2, 66, 0, 2, 7)
<class 'tuple'>

184

In [121]:
def printer(*args):
    print(args)
    print(type(args))
    print()
    for i in args:
        print(i)

In [122]:
printer(1, 'text', {'key': 'value'})

(1, 'text', {'key': 'value'})
<class 'tuple'>

1
text
{'key': 'value'}

In [124]:
names = ['Joe', 'Nastya', 'Vera']
printer(names)

(['Joe', 'Nastya', 'Vera'],)
<class 'tuple'>

['Joe', 'Nastya', 'Vera']

In [126]:
# распаковка списка
printer(*names)

('Joe', 'Nastya', 'Vera')
<class 'tuple'>

Joe
Nastya
Vera

### Аргументы **kwargs 
kwargs - сокращенное от "keywords arguments" - именнованные аргументы

In [134]:
def printer(**kwargs):
    print(type(kwargs))
    print()
    for key, value in kwargs.items():
        print(f'{key} ~ {value}')

In [136]:
printer(a=10, b = 'pop',c=['1','wow'])

<class 'dict'>

a ~ 10
b ~ pop
c ~ ['1', 'wow']

In [137]:
def say_hello(**kwargs):
    greeting=kwargs.get('greeting', 'hello')
    name = kwargs.get('name', 'world')
    return f'{greeting}, {name}'

In [138]:
say_hello()

'hello, world'

In [139]:
say_hello(greeting='Hey', name = 'Eduard')

'Hey, Eduard'

In [140]:
say_hello(greeting='Hey', name = 'Eduard', extra = 555)

'Hey, Eduard'

In [142]:
data = {'greeting': 'Hey',
       'name': 'John',
       'extra': 5}
say_hello(**data)
# распаковка словарей

'Hey, John'

### Аннотирование типов - только для понимания, пайтон не обрабатывает

In [143]:
def calc_sum(a: int, b: int) -> int:
    return a + b

In [144]:
calc_sum(1,2)

3

In [145]:
calc_sum(1.8,2.4)

4.2

In [147]:
calc_sum('as','uhv')

'asuhv'

In [148]:
calc_sum([1.8,2.4],[5.8,4.4])

[1.8, 2.4, 5.8, 4.4]

### Генераторы

In [156]:
def my_range(start, end):
    current = start
    while current < end:
        yield current
        current+=1

In [157]:
ranger = my_range(0,2)
next(ranger)

0

In [158]:
next(ranger)

1

In [161]:
my_=my_range(2,5)
for i in my_:
    print(i)

2
3
4

### List comprehtnsions

In [168]:
squares = []
for i in range(5):
    squares.append(i*i)
squares

[0, 1, 4, 9, 16]

In [167]:
squares2 = [i*i for i in range(5)]
squares2

[0, 1, 4, 9, 16]

In [170]:
even_nums = [i for i in range(10) if i%2 ==0]
even_nums

[0, 2, 4, 6, 8]

In [173]:
orig_prices = [125, -9, 103, 38, -5, 116]
prices = [i if i > 0 else 0 for i in orig_prices]
prices

[125, 0, 103, 38, 0, 116]

In [176]:
prices2 = [i for i in orig_prices if i > 0 ]
prices2

[125, 103, 38, 116]

### Set comprehtnsions
- сжатая конструкция кода для множества

In [177]:
numbers = ['black','red','green', 'green', 'red', 'white']
{i for i in numbers}

{'black', 'green', 'red', 'white'}

### Dict comprehtnsions

In [179]:
square_dict = {i:i*i for i in range(5)}
square_dict

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

### Сравнение скорости работы

In [180]:
%%time
even_nums = []
for i in range(100_000_000):
    if i%2 ==0:
        even_nums.append(i)

CPU times: user 7.56 s, sys: 345 ms, total: 7.9 s
Wall time: 7.97 s

In [181]:
%%time
even_nums =[i for i in range(100_000_000) if i%2 == 0]

CPU times: user 4.92 s, sys: 852 ms, total: 5.77 s
Wall time: 6.1 s